{% load static %}
<div class="body-cmt collapse" id="collapseComment{{ post.id }}">
  <div class="no-flex no-flex-top justify-content-start mb-4">
    <div class="msg_cotainer">
      <i class="fas fa-user cmt-icon"></i>   {{ comment.author }}: {{ comment.text }}
      <span class="msg_time">{{ comment.pub_date }}<a href="#collapseReply{{ comment.id }}"
        data-toggle="collapse" role="button" aria-expanded="false" 
        aria-controls="#collapseReply{{ comment.id }}"> reply</a></span>
    </div>
  </div>
  {% include "newreply.html" %}
  
  {% with replies=comment.reply_set.all %}
    {% if replies %}
      {% for reply in replies %}
        {% include "reply.html" %}
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>