{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Incog website homepage" />
<meta name="keywords" content="Incog Posts and user accessible data" />
{% endblock extra_meta %}

{% block title %}
Incog
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href= {% static 'css/main.css' %} >

{% endblock head %}

{% block body %}

	<div class="wrapper">

		{% include "nav.html" %}
		
		<main>
			<div class="main-section">
				<div class="container-fluid">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3 col-md-4 pd-left-none hidden-xs">
								<div class="main-left-sidebar no-margin">
									<div class="user-data full-width no-pd">
										<div class="user-profile">
											<div class="username-dt no-pd-up">
												<div class="usr-pic">
													<img src={% static 'images/user.svg' %} alt="{{ user.username }} DP">
												</div>
											</div><!--username-dt end-->
											<div class="user-specs">
												<h3>{{ user.username }}</h3>
												<span>{{ profile.status }}</span>
											</div>
										</div><!--user-profile end-->
										<ul class="user-fw-status">
											<li>
												<h4>Following 23</h4>
											</li>
											<li>
												<h4>Followers 25</h4>
											</li>
											<li>
												<a href = {% url 'index' %} title="See your detailed profile">View Profile</a>
											</li>
										</ul>
									</div><!--user-data end-->

<!--___________ Footer Section ___________ -->

									<div class="tags-sec full-width">
										<div class="cp-sec">
											<img class="logo-img" src={% static 'images\logo_dark.png' %} alt="Incog logo image">
											<p>Copyright 2019</p>
										</div>
									</div>
                  <!--tags-sec end-->

<!--___________ Footer Section End ___________ -->
								</div>
                <!-- main-left-sidebar end -->
							</div>
							<div class="col-lg-6 col-md-8 pd-middle-none">
								<div class="main-ws-sec">
									<div class="post-topbar no-pd">
										<div class="user-picy">
											<img src={% static 'images/user.svg' %} alt="{{ user.username }} DP">
										</div>
										<div class="post-st">
											<ul>
												<li><button type="button" class="btn btn-primary btn-outline-success header-search-button" id="newpost" data-toggle="modal" 
												data-target="#createpost-form" data-whatever="Write something">New Post</button>
												<div class="modal fade" id="createpost-form" tabindex="-1" role="dialog" aria-labelledby="create-post-label" aria-hidden="true">
												  <div class="modal-dialog" role="document">
												    <div class="modal-content">
												      <div class="modal-header">
												        <h5 class="modal-title" id="create-post-label">Create a new post</h5>
												        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
												          <span aria-hidden="true">&times;</span>
												        </button>
												      </div>
												      <div class="modal-body">
												        <form action={% url 'post' %} method="post"> {% csrf_token %}
														{{ post.non_field_errors }}
														{{ post.source.errors }}
														{{ post.source }}

												          <div class="form-group">
												            <label for="heading" class="col-form-label">Heading</label>
												            <input type="text" class="form-control font-small" id="heading-input" name={{ post.heading.name }}>
												          </div>
												          <div class="form-group">
												            <label for="message-text" class="col-form-label font-small">Write a Post</label>
												            <textarea type="text" class="form-control" id="message-text" name={{ post.text.name }}></textarea>
												          </div>
														  <div class="modal-footer">
														  	<button type="button" class="btn btn-secondary font-small header-search-button" data-dismiss="modal">Close</button>
														  	<button type="submit" class="btn btn-primary font-small btn-outline-success header-search-button">Create Post</button>
														  </div>
												        </form>
												      </div>
												    </div>
												  </div>
												</div>
												</li>
											</ul>
										</div><!--post-st end-->
									</div><!--post-topbar end-->
									<div class="posts-section">

									{% for post in posts %}
										{% include "post.html" %}
									{% endfor %}

									</div><!--posts-section end-->
								</div><!--main-ws-sec end-->
							</div>
							<div class="col-lg-3 pd-right-none">
								<div class="right-sidebar">
									<div class="widget widget-jobs no-pd">
										<div class="sd-title">
											<h3>Groups</h3>
											<i class="la la-ellipsis-v"></i>
										</div>
										<div class="jobs-list">
											<div class="job-info">
												<div class="job-details">
													<h3> Group no 1</h3>
													<p Group Description</p>
												</div>
                        <div class="job-details">
                          <h3> Group no 1</h3>
                          <p> Group Description</p>
                        </div>
                        <div class="job-details">
                          <h3> Group no 2</h3>
                          <p> Group Description</p>
                        </div>
                        <div class="job-details">
                          <h3> Group no 3</h3>
                          <p> Group Description</p>
                        </div>
                        <div class="job-details">
                          <h3> Group no 4</h3>
                          <p> Group Description</p>
                        </div>
                        <div class="job-details">
                          <h3> Group no 5</h3>
                          <p> Group Description</p>
                        </div>
											</div><!--job-info end-->
											</div><!--job-info end-->
										</div><!--jobs-list end-->
									</div><!--widget-jobs end-->
								</div><!--right-sidebar end-->
							</div>
						</div>
					</div><!-- main-section-data end-->
				</div>
			</div>
		</main>




		<div class="post-popup pst-pj">
			<div class="post-project">
				<h3>Post a project</h3>
				<div class="post-project-fields">
					<form>
						<div class="row">
							<div class="col-lg-12">
								<input type="text" name="title" placeholder="Title">
							</div>
							<div class="col-lg-12">
								<div class="inp-field">
									<select>
										<option>Category</option>
										<option>Category 1</option>
										<option>Category 2</option>
										<option>Category 3</option>
									</select>
								</div>
							</div>
							<div class="col-lg-12">
								<input type="text" name="skills" placeholder="Skills">
							</div>
							<div class="col-lg-12">
								<div class="price-sec">
									<div class="price-br">
										<input type="text" name="price1" placeholder="Price">
										<i class="la la-dollar"></i>
									</div>
									<span>To</span>
									<div class="price-br">
										<input type="text" name="price1" placeholder="Price">
										<i class="la la-dollar"></i>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<textarea name="description" placeholder="Description"></textarea>
							</div>
							<div class="col-lg-12">
								<ul>
									<li><button class="active" type="submit" value="post">Post</button></li>
									<li><a href="#" title="">Cancel</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div><!--post-project-fields end-->
				<a href="#" title=""><i class="la la-times-circle-o"></i></a>
			</div><!--post-project end-->
		</div><!--post-project-popup end-->

		<div class="post-popup job_post">
			<div class="post-project">
				<h3>Post a job</h3>
				<div class="post-project-fields">
					<form>
						<div class="row">
							<div class="col-lg-12">
								<input type="text" name="title" placeholder="Title">
							</div>
							<div class="col-lg-12">
								<div class="inp-field">
									<select>
										<option>Category</option>
										<option>Category 1</option>
										<option>Category 2</option>
										<option>Category 3</option>
									</select>
								</div>
							</div>
							<div class="col-lg-12">
								<input type="text" name="skills" placeholder="Skills">
							</div>
							<div class="col-lg-6">
								<div class="price-br">
									<input type="text" name="price1" placeholder="Price">
									<i class="la la-dollar"></i>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="inp-field">
									<select>
									</select>
								</div>
							</div>
							<div class="col-lg-12">
								<textarea name="description" placeholder="Description"></textarea>
							</div>
							<div class="col-lg-12">
								<ul>
									<li><button class="active" type="submit" value="post">Post</button></li>
									<li><a href="#" title="">Cancel</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div><!--post-project-fields end-->
				<a href="#" title=""><i class="la la-times-circle-o"></i></a>
			</div><!--post-project end-->
		</div><!--post-project-popup end-->
	</div><!--theme-layout end-->

{% endblock body %}
