{% load static %}
<div class="post-bar no-pd">
	<div class="post_topbar">
		<div class="usy-dt">
			<img src={% static 'images/user.svg' %} alt="User image">
			<div class="usy-name">
				<h6>{{ post.author }}</h6>
				<span>{{post.pub_date}}</span>
			</div>
		</div>
		<div class="ed-opts">
			<a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
			<ul class="ed-options">
				<li><a href="#" title="">Edit Post</a></li>
				<li><a href="#" title="">Report</a></li>
				<li><a href="#" title="">Delete</a></li>
				<li><a href="#" title="">Hide</a></li>
				<li><a href="#" title="">Privacy</a></li>
			</ul>
		</div>
	</div>
	<div class="job_descp">
		<h6 class="post-heading">{{ post.heading }}</h6>
		<ul class="job-dt">
		</ul>
		<p>{{ post.text }}</p>
	</div>
	<div class="job-status-bar">
		<!-- <a href="#"></a>
		<a href="#" class="like-cmt">Comment</a>
		 -->
		<div class="card-footer post-footer">
				<a href="#" class="card-link"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</a>
				<a href="#collapseComment{{ post.id }}" class="card-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseComment{{ post.id }}">
				<i class="far fa-comment-alt"></i> Comment</a>
				<a href="#" class="card-link"><i class="fas fa-share"></i> Share</a>
				<a class="views"><i class="fas fa-eye"></i> Views</a>
		</div>
	</div>
{% with comments=post.comment_set.all %}
	{% if not comments is None %}
		{% for comment in comments %}
			{% include "comment.html" %}
	    {% endfor %}
	{% else %}
	    <p class>No comments on this post</p>
	{% endif %}
{% endwith %}

{% include "newcomment.html" %}

</div>
